{% extends "template.html" %}
{% set page ='home' %}
{% block meta %}
<title>lorem_title</title>
{% endblock %}
{% block content %}

<main id="main">
    {% include "parts/hero.html" %}
    {% include "parts/cursos.html" %}
    {% include "parts/tipo-cursos.html" %}
    {% include "parts/diferenciais.html" %}
    {% include "parts/depoimentos.html" %}
    {% include "parts/ecossistema.html" %}
    {% include "parts/unidades.html" %}
    {% include "parts/blogs-noticias.html" %}
    {% include "parts/eventos.html" %}
</main>
<!-- End #main -->
{% endblock %}